body {
  padding: 20px;
  margin: 2px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/*NAV*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.menu li {
  display: inline;
  padding: 25px;
}
.menu li a {
  text-decoration: none;
  padding: 35px 10px 0px 10px;
}
li {
  list-style-type: none;
}
a.active {
  color: #0065fc;
  border-top: 2.5px solid #0065fc;
}
.list {
  color: black;
}
.login {
  color: #0065fc;
  font-weight: bold;
}

/*HEADER*/
.title h2 {
  margin: 0;
  padding: 0;
}
.title p {
  margin: 0;
  padding: 0;
}
.searchbar {
  display: flex;
  justify-content: left;
  align-items: center;
}
.map {
  background-color: #dbdbdb;
  padding: 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.search {
  background-color: #0065fc;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  padding: 12px;
  font-size: small;
}
.searchtext {
  border-left: none;
  border-right: none;
  border: 0.5px solid #dbdbdb;
  padding: 11px;
}
.searchtext::placeholder {
  color: black;
  font-weight: bold;
  font-size: medium;
}
/* MAIN*/
/*HEADER*/

.navlist {
  display: flex;
  align-items: center;
}
.navlist p {
  font-weight: bold;
  margin: 0;
}
.list-filtre {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}
.list-filtre i {
  display: flex;
  border-radius: 60px;
}
.text-filtre {
  margin-left: 10px;
}
.filtre {
  display: flex;
  align-items: center;
  height: 40px;
  padding-right: 10px;
  margin-left: 20px;
  border: 2px solid #e2e0e0;
  border-radius: 60px;
}
.filtre i {
  border: 12px solid #deebff;
  background-color: #deebff;
  color: #0065fc;
}

.filtre:hover {
  background-color: #deebff;
}

/* RAPPEL INFO*/

.rappel .info {
  display: flex;
  margin: 10px;
}
.rappel {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: small;
}
.rappel span {
  margin: 10px;
}
.info i {
  padding: 6px;
  color: #0065fc;
  border-radius: 12px;
  border: 1px solid;
}



/*SECTION*/
.blocs{
  display: flex;
 justify-content: space-between;
}
.nav_hebergements {
  display: flex;
  flex-direction: column;
  background-color: #e2e0e0;
  border-radius: 25px;
  padding: 0 20px;
  width: 60%;
  
}
.grid_container_hebergements {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
}
.grid_hebergements {
  background-color: white;
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 5px;
}
.texte_hebergements a {
  text-decoration: none;
  color: black;
}

.image_hebergements img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.grid_hebergements h2 {
  font-size: small;
  margin: 5px 0px 5px 0px;
  padding-left: 5px;
}

.grid_hebergements p {
  font-size: x-small;
  padding-left: 5px;
  margin: 5px 0px 5px 0px;
}
.rating {
  padding-left: 5px;
  margin: 0;
}

/* couleur étoiles */

.fa-star {
  color: #e2e0e0;
}
/* Si elle porte en plus la classe '.blue', elle sera en jaune. */
.fa-star.blue {
  color: #0065fc;
}
/* couleur étoiles*/
.rating {
  font-size: xx-small;
}

/*ASIDE*/

.title_les_plus_populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_populaires {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  background-color: #e2e0e0;
  border-radius: 25px;
  padding: 0 20px;
  width: 30%;
  
}
.grid_container_populaires{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  

}
.grid_populaires {
  display: flex;
  background-color: white;
  border-radius: 15px;
  border: 5px solid white
}

.image_populaires img{
  display: flex;
  width: 200px;
  height: 130px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
 
}
.texte_populaires a {
  text-decoration: none;
  color: black;
  width: 30%;
}


.grid_populaires h2 {
  font-size: small;
  margin: 5px 0px 5px 0px;
  padding-left: 5px;
}

.grid_populaires p {
  font-size: x-small;
  padding-left: 5px;
  margin: 5px 0px 5px 0px;
}
.texte_populaires .rating {
  padding:55px 5px 0 5px;
  margin: 0;
}

/* couleur étoiles */

.fa-star {
  color: #e2e0e0;
}
/* Si elle porte en plus la classe '.blue', elle sera en jaune. */
.fa-star.blue {
  color: #0065fc;
}
/* couleur étoiles*/
.rating {
  font-size: xx-small;
}

/*section activites*/

.activites{
  display: flex;
}
.grid_container_activites {
  position:relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(100px, 1fr));
  height: 550px;
  margin-bottom: 50px;
  grid-gap: 30px;
}

.grid_activites_1{
  grid-column: span 3;
}

.grid_activites_2{
  grid-column: 2;
  grid-row: 1/2;
}
.grid_activites_3{
  grid-column: 2;
  grid-row:2/3 ;
}
.grid_activites_4{
  grid-column: 3;
  grid-row: 1/3;
}
.grid_activites_5{
  grid-column: 4;
  grid-row: 1/2;
}
.grid_activites_6{
  grid-column: 4;
  grid-row: 2/3;
}