body {
  padding: 20px;
  margin: 2px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/*NAV*/
.navbar_ordi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.menu li {
  display: inline;
  padding: 35px;
}
.menu li a {
  text-decoration: none;
  padding: 30px 0px 0px 0px;
}
li {
  list-style-type: none;
}
a.active {
  color: #0065fc;
  border-top: 2.5px solid #0065fc;
  padding-left: 20px;
}
.list {
  color: black;
}
.login {
  color: #0065fc;
  font-weight: bold;
}

/*HEADER*/
.title h2 {
  margin: 0;
  padding: 0;
}
.title p {
  margin: 0;
  padding: 0;
}
.searchbar {
  display: flex;
  justify-content: left;
  align-items: center;
}
.map {
  background-color: #dbdbdb;
  padding: 10px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.search {
  background-color: #0065fc;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  padding: 12px;
  font-size: small;
}
.searchtext {
  border-left: none;
  border-right: none;
  border: 0.5px solid #dbdbdb;
  padding: 11px;
}
.searchtext::placeholder {
  color: black;
  font-weight: bold;
  font-size: medium;
}
/* MAIN*/
/*HEADER*/

.navlist {
  display: flex;
  align-items: center;
}
.navlist p {
  font-weight: bold;
  margin: 0;
}
.list-filtre {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}
.list-filtre i {
  display: flex;
  border-radius: 60px;
}
.text-filtre {
  margin-left: 10px;
}
.filtre {
  display: flex;
  align-items: center;
  height: 40px;
  padding-right: 10px;
  margin-left: 20px;
  border: 2px solid #e2e0e0;
  border-radius: 60px;
}
.filtre i {
  border: 12px solid #deebff;
  background-color: #deebff;
  color: #0065fc;
}

.filtre:hover {
  background-color: #deebff;
}

/* RAPPEL INFO*/

.rappel .info {
  display: flex;
  margin: 10px;
}
.rappel {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: small;
}
.rappel span {
  margin: 10px;
}
.info i {
  padding: 6px;
  color: #0065fc;
  border-radius: 12px;
  border: 1px solid;
}

/*SECTION*/
.blocs {
  display: flex;
  justify-content: space-between;
}
.title_hebergements {
  margin: 0 0 20px 0;
}
.end_texte_hebergements {
  font-size: small;
  margin: 25px 0 0 0;
}
.nav_hebergements {
  display: flex;
  flex-direction: column;
  background-color: #e2e0e0;
  border-radius: 25px;
  padding: 0 30px;
  width: 60%;
}
.grid_container_hebergements {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto;
}
.grid_hebergements {
  background-color: white;
  border: 0.5px solid white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0px 0px 15px 0px #6a6a6baf;
}
.texte_hebergements a {
  text-decoration: none;
  color: black;
}

.image_hebergements img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.grid_hebergements h2 {
  font-size: small;
  margin: 5px 0px 5px 0px;
  padding-left: 5px;
}

.grid_hebergements p {
  font-size: x-small;
  padding-left: 5px;
  margin: 5px 0px 5px 0px;
}
.rating {
  padding-left: 5px;
  margin: 0;
}

/* couleur étoiles */

.fa-star {
  color: #e2e0e0;
}
/* Si elle porte en plus la classe '.blue', elle sera en jaune. */
.fa-star.blue {
  color: #0065fc;
}
/* couleur étoiles*/
.rating {
  font-size: xx-small;
}

/*ASIDE*/

.title_les_plus_populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}
.nav_populaires {
  display: flex;
  flex-direction: column;
  background-color: #e2e0e0;
  border-radius: 25px;
  row-gap: 15px;
  width: 30%;
}
.grid_container_populaires {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8em 8em 8em;
  padding: 0 30px;
  gap: 30px;
}
.grid_populaires {
  display: flex;
  background-color: white;
  border-radius: 15px;
  border: 5px solid white;
  box-shadow: 0px 0px 15px 0px #6a6a6baf;
}

.image_populaires img {
  display: flex;
  width: 150px;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover;
}
.texte_populaires a {
  text-decoration: none;
  color: black;
  width: 30%;
}

.grid_populaires .texte_populaires h2 {
  font-size: small;
  margin: 5px 0px 5px 0px;
  padding-left: 20px;
}

.grid_populaires .texte_populaires p {
  font-size: x-small;
  margin: 5px 0px 5px 20px;
}
.grid_populaires .texte_populaires .rating {
  padding: 45px 5px 0 20px;
  margin: 0;
}

/* couleur étoiles */

.fa-star {
  color: #e2e0e0;
}
/* Si elle porte en plus la classe '.blue', elle sera en jaune. */
.fa-star.blue {
  color: #0065fc;
}
/* couleur étoiles*/
.rating {
  font-size: xx-small;
}

/*section activites*/

.title_activites h2 {
  margin: 30px 0 30px 0;
}
.grid_container_activites {
  display: grid;
  width: 100%;
  grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr;
  grid-template-rows: 5em 5em 2em 2em 5em 5em;
  padding-right: 10px;
  gap: 30px;
}
.grid_container_activites a {
  text-decoration: none;
  color: black;
}

.grid_container_activites h3 {
  padding-left: 20px;
}
.box1 {
  box-shadow: 0px 0px 10px 0px #b5b7b9da;
  border-radius: 20px;
  grid-column: 1;
  grid-row: 1 / 7;
}
.box1 img {
  width: 100%;
  height: 89%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.box2 {
  box-shadow: 0px 0px 10px 0px #b5b7b9da;
  border-radius: 20px;
  grid-column: 2;
  grid-row: 1 / 5;
}
.box2 img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.box3 {
  box-shadow: 0px 0px 10px 0px #b5b7b9da;
  border-radius: 20px;
  grid-column: 2;
  grid-row: 5 / 7;
}
.box3 img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.box4 {
  box-shadow: 0px 0px 10px 0px #b5b7b9da;
  border-radius: 20px;
  grid-column: 3;
  grid-row: 1 / 7;
}
.box4 img {
  width: 100%;
  height: 89%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.box5 {
  box-shadow: 0px 0px 10px 0px #b5b7b9da;
  border-radius: 20px;
  grid-column: 4;
  grid-row: 1 / 3;
}
.box5 img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.box6 {
  box-shadow: 0px 0px 10px 0px #b5b7b9da;
  border-radius: 20px;
  grid-column: 4;
  grid-row: 3 / 7;
}
.box6 img {
  width: 100%;
  height: 81%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/*FOOTER*/
.footer_desktop {
  display: flex;
  background-color: #faf1f1;
  margin-top: 50px;
}
.a_propos_desktop {
  padding-left: 30px;
  margin: 0;
}
.nos_hebergements_desktop {
  padding: 0 250px;
}
.assistance_desktop {
  padding: 0 100px;
}

.menu_sinscrire_mobil {
  display: none;
}
.menu_texte_mobil {
  display: none;
}
.header2_mobil {
  display: none;
}
.texte_activites_tab {
  display: none;
}
.footer_tab {
  display: none;
}
.footer_mobil {
  display: none;
}
.nav_populaires_mobil {
  display: none;
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 600px) {
  .navbar_ordi {
    display: none;
  }
  .menu_sinscrire_mobil {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu_sinscrire_mobil .login {
    text-decoration: none;
  }
  .menu_texte_mobil {
    display: block;
    text-align: center;
  }
  .menu_texte_mobil ul {
    display: flex;
    justify-content: space-around;
    width: 75%;
  }
  .menu_texte_mobil .list {
    text-decoration: none;
    border-bottom: 2.5px solid #d9dbddda;
    padding: 0 50px 10px 50px;
  }
  .menu_texte_mobil a.active {
    border-bottom: 3px solid #0065fc;
    border-top: 0;
    text-decoration: none;
    padding: 0 50px 10px 50px;
    margin: 0;
  }
  .header2_ordi {
    display: none;
  }
  .header2_mobil {
    display: block;
  }
  .header2_mobil .title_mobil {
    padding: 20px 20px 10px 0;
    display: flex;
    flex-direction: column;
    font-size: small;
  }
  .searchtext_mobil {
    border-left: none;
    border-right: none;
    border: 0.5px solid #dbdbdb;
    padding: 11px;
    margin-left: -6px;
  }
  .loupe {
    background-color: #0065fc;
    border-radius: 12px;
    color: white;
    padding: 12px;
    font-size: small;
    margin-left: -10px;
  }

  .navlist {
    display: block;
    margin-top: 20px;
  }
  .nav_populaires {
    display: none;
  }
  .nav_populaires_mobil {
    display: block;
    position: absolute;
    top: 0;
    width: auto;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: #e2e0e0;
    border-radius: 25px;
    row-gap: 15px;
  }
  .title_les_plus_populaires_mobil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
  }

  .grid_container_populaires_mobil {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8em 8em 8em;
    padding: 0 30px;
    gap: 30px;
  }
  .grid_populaires_mobil {
    display: flex;
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    box-shadow: 0px 0px 15px 0px #6a6a6baf;
  }

  .image_populaires_mobil img {
    display: flex;
    width: 150px;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
  }
  .texte_populaires_mobil a {
    text-decoration: none;
    color: black;
    width: 30%;
  }

  .grid_populaires_mobil .texte_populaires_mobil h2 {
    font-size: small;
    margin: 5px 0px 5px 0px;
    padding-left: 20px;
  }

  .grid_populaires_mobil .texte_populaires_mobil p {
    font-size: x-small;
    margin: 5px 0px 5px 20px;
  }
  .grid_populaires_mobil .texte_populaires_mobil .rating {
    padding: 45px 5px 0 20px;
    margin: 0;
  }

  .list-filtre {
    display: block;
    padding-left: 0;
    margin: 0;
  }
  .filtre {
    padding: 0;
    margin: 10px 0 10px 0;
  }

  .grid_container_hebergements {
    display: flex;
    flex-direction: column;
  }
  .blocs {
    position: relative;
  }

  .nav_hebergements {
    margin-top: 600px;
    width: auto;
    background-color: white;
  }
  .grid_container_activites {
    display: block;
    margin: 20px 0 20px 20px;
    width: 90%;
  }
  .title_activites h2 {
    padding-left: 20px;
  }
  .texte_activites {
    margin: 0;
  }
  .box1 {
    width: auto;
    height: 200px;
    margin: 20px 0 25px 0;
  }
  .box1 img {
    height: 150px;
  }
  .box2 {
    width: auto;
    height: 200px;
    margin: 25px 0 25px 0;
  }
  .box2 img {
    height: 150px;
  }
  .box3 {
    width: auto;
    height: 200px;
    margin: 20px 0 25px 0;
  }
  .box3 img {
    height: 150px;
  }
  .box4 {
    width: auto;
    height: 200px;
    margin: 20px 0 25px 0;
  }
  .box4 img {
    height: 150px;
  }
  .box5 {
    width: auto;
    height: 200px;
    margin: 20px 0 25px 0;
  }
  .box5 img {
    height: 150px;
  }
  .box6 {
    width: auto;
    height: 200px;
    margin: 20px 0 20px 0;
  }
  .box6 img {
    height: 150px;
  }
  .texte_activites_tab {
    display: none;
  }
  .footer_mobil {
    display: block;
    background-color: #faf1f1ea;
    margin: 0;
    padding: 20px 0 20px 30px;
  }
  .a_propos_mobil {
    padding: 0 0 30px 0;
    margin: 0;
  }
  .nos_hebergements_mobil {
    padding: 0 0 30px 0;
    margin: 0;
  }
  .assistance_mobil {
    padding: 0;
    margin: 0;
  }
  .footer_desktop {
    display: none;
  }
  .a_propos_tab {
    display: none;
  }
  .assistance_tab {
    display: none;
  }
  .nos_hebergements_tab {
    display: none;
  }
}

@media only screen and (max-width: 1080px) {
  .list-filtre {
    flex-wrap: inherit;
  }
  .grid_populaires {
    display: block;
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    box-shadow: 0px 0px 15px 0px #6a6a6baf;
  }

  .image_populaires img {
    display: block;
    height: 70px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    object-fit: cover;
  }
  .texte_populaires a {
    text-decoration: none;
    color: black;
  }

  .grid_populaires .texte_populaires h2 {
    font-size: xx-small;
    padding: 10px 0 0 0;
    margin: 0;
  }

  .grid_populaires .texte_populaires p {
    font-size: xx-small;
    padding: 0;
    margin: 0;
  }
  .grid_populaires .texte_populaires .rating {
    padding: 0;
    margin: 0;
  }

  .texte_activites {
    display: none;
  }
  .texte_activites_tab {
    display: block;
    margin-top: 0;
  }
  .footer_tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
  }
  .footer_desktop {
    display: none;
  }
}
